/*banner*/
.banner_inner_content_agile_w3l {
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../img/2.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
}

/*gallery*/
.gallery {
    padding: 5em 0;
}
.wthree_head_section {
    margin-bottom: 5em;
}
.w3l_header {
    font-size: 3em;
    color: #262c38;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
}
.w3l_header span {
    color: #545151;
    font-weight: 200;
}
.wthree_head_section p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
.grid figure {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    height: auto;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}
figure.effect-apollo img {
    opacity: 0.95;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale3d(1.05,1.05,1);
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
}
.grid figure figcaption, .grid figure figcaption > a {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}
.grid figure h2, .grid figure p {
    margin: 0;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
.grid:hover figure.effect-apollo p{
	opacity: 1;
}

/*lightboxOverlay*/
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

/*lightbox*/
.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.lb-outerContainer {
    position: relative;
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 1em auto 0.5em auto;
    border-radius: 4px;
}
.lb-container {
    padding: 4px;
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    border-radius: 3px;
}
.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}
.lb-nav a {
    outline: none;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}
.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lb-data {
    padding: 0 4px;
    color: #ccc;
}
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    transition: opacity 0.2s;
}